<% provide(:heading, t('view.operatings.title')) %>
<% provide(:date_selectable, true) %>

<%= form_tag operating_path(@user), method: :get, id: :form_for_user_selectbox do %>
	<%= hidden_field_tag :year, @date.year %>
	<%= hidden_field_tag :month, @date.month %>
<% end %>

<%= form_tag edit_operating_path, method: :get do %>

	<%= hidden_field_tag :year, @date.year %>
	<%= hidden_field_tag :month, @date.month %>


<%= render 'layouts/header' %>
<div style="width: 98%; text-align: right; font-size: 0.8em;">
	<%= link_to '稼働集計表へ', controller: :spreadsheets, action: :show, year: @date.year, month: @date.month %>
</div>
<table width="98%" style="font-size: 0.8em;">
	<tr>
		<td>
			<%= render 'layouts/user' %>
		</td>
		<td style="text-align: right;">
			<%= button_tag '編集', class: 'btn btn-primary btn-custom' %>
		</td>
	</tr>
</table>
<div id="operatings">
<table width="98%">
	<tr>
		<th width="45">日付</th>
		<th width="40">曜日</th>
		<th width="220">プロジェクト名</th>
		<th width="55">時間</th>
		<th width="">備考</th>
	</tr>
	<%
		current_month = @date.month
		d = Date.new(@date.year, @date.month, 1)
		while (d.month == current_month) do
			operatings = @operatings.select {|op| [op.year,op.month,op.day] == [d.year,d.month,d.day]}
			operatings << Operating.new({ year: d.year, month: d.month, day: d.day }) if operatings.empty?
			operatings.each_with_index do |operating, i|
	%>

	<tr id="row_<%= i %>_0" class="<%= class_for_operating_date d %>">
		<td class="date"><%= d.strftime("%m/%d") if i == 0 %></td>
		<td class="dow"><%= d.strftime("%a") if i == 0 %></td>
		<td class="project_name"><%= operating.project.name unless operating.project.nil? %></td>
		<td class="time"><%= adjust_time(operating.time) %></td>
		<td class="summary"><%= operating.summary %></td>
	</tr>

	<%
			end
		d += 1
		end
	%>
</table>
</div>

<% end %>




