<% provide(:heading, t('view.spreadsheets.title')) %>
<% provide(:date_selectable, true) %>

<%= form_tag spreadsheet_path(@user), method: :get, id: :form_for_user_selectbox do %>
	<%= hidden_field_tag :year, @date.year %>
	<%= hidden_field_tag :month, @date.month %>
<% end %>

<%= render 'layouts/header' %>
<div style="width: 98%; text-align: right; font-size: 0.8em;">
	<%= link_to '稼働実績表へ', controller: :operatings, action: :show, year: @date.year, month: @date.month %>
</div>
<table width="98%" style="font-size: 0.8em;">
	<tr>
		<td>
			<%= render 'layouts/user' %>
			
			
		</td>
		<td style="text-align: right;">
		</td>
	</tr>
</table>
<div id="spreadsheet">
<table width="98%">
	<thead>
		<tr>
			<th width="220">プロジェクト名</th>
			<th width="55">稼働時間</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td class="total">総計</td>
			<td class="total_time"><%= @total %></td>
		</tr>
	</tfoot>
	<% @operatings.each do |operating| %>
	<tr>
		<td class="project_name"><%= operating.project.name unless operating.project.nil? %></td>
		<td class="time"><%= operating.sum_time %></td>
	</tr>
	<% end %>
</table>
</div>